<div>
    <app-wld-pie-chart (clickedSection)="toggleShowDetailedCharts()" [data]="wldData" [labels]="wldLabels" [title]="convertTitle(gameConfig)+':Overall'"></app-wld-pie-chart>
    <ng-container *ngIf="shouldShowDetailedCharts">
        <app-pie-chart [data]="wonData" [labels]="wonLabels" [title]="convertTitle(gameConfig)+':Won'"></app-pie-chart>
        <app-pie-chart [data]="lostData" [labels]="lostLabels" [title]="convertTitle(gameConfig)+':Lost'"></app-pie-chart>
        <app-pie-chart [data]="drawData" [labels]="drawLabels" [title]="convertTitle(gameConfig)+':Draw'"></app-pie-chart>
    </ng-container>
</div>