<div>
    <ng-container *ngIf="shouldShowDetailedCharts">
        <app-pie-chart [data]="wonData" [labels]="wonLabels" [title]="gameConfig+':Won'"></app-pie-chart>
        <app-pie-chart [data]="lostData" [labels]="lostLabels" [title]="gameConfig+':Lost'"></app-pie-chart>
        <app-pie-chart [data]="drawData" [labels]="drawLabels" [title]="gameConfig+':Draw'"></app-pie-chart>
    </ng-container>
    <app-wld-pie-chart (clickedSection)="toggleShowDetailedCharts()" [data]="wldData" [labels]="wldLabels" [title]="gameConfig+':Overall'"></app-wld-pie-chart>
</div>