// Custom Theming for Angular Material
@use '~@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Light theme

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$WonByCheckmate-primary-light: mat.define-palette(mat.$indigo-palette);
$WonByCheckmate-accent-light: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$WonByCheckmate-warn-light: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$WonByCheckmate-theme-light: mat.define-light-theme((
  color: (
    primary: $WonByCheckmate-primary-light,
    accent: $WonByCheckmate-accent-light,
    warn: $WonByCheckmate-warn-light,
  )
));

// Dark theme
// TODO: allow for custom colors like black for primary
$WonByCheckmate-primary-dark: mat.define-palette(mat.$purple-palette);
$WonByCheckmate-accent-dark: mat.define-palette(mat.$yellow-palette);

$WonByCheckmate-warn-dark: mat.define-palette(mat.$red-palette);

$WonByCheckmate-theme-dark: mat.define-dark-theme((
  color: (
    primary: $WonByCheckmate-primary-dark,
    accent: $WonByCheckmate-accent-dark,
    warn: $WonByCheckmate-warn-dark,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($WonByCheckmate-theme-light);


// Avoid the same density styles being generated multiple times by only including the colors for one theme
// https://github.com/angular/components/blob/master/guides/duplicate-theming-styles.md
.dark-theme-mode {
  @include mat.all-component-colors($WonByCheckmate-theme-dark);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }