
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Light theme

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$WonByCheckMate-primary-light: mat-palette($mat-indigo);
$WonByCheckMate-accent-light: mat-palette($mat-light-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$WonByCheckMate-warn-light: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$WonByCheckMate-theme-light: mat-light-theme((
  color: (
    primary: $WonByCheckMate-primary-light,
    accent: $WonByCheckMate-accent-light,
    warn: $WonByCheckMate-warn-light,
  )
));

// Dark theme
// TODO: allow for custom colors like black for primary
$WonByCheckMate-primary-dark: mat-palette($mat-purple);
$WonByCheckMate-accent-dark: mat-palette($mat-yellow);

$WonByCheckMate-warn-dark: mat-palette($mat-red);

$WonByCheckMate-theme-dark: mat-dark-theme((
  color: (
    primary: $WonByCheckMate-primary-dark,
    accent: $WonByCheckMate-accent-dark,
    warn: $WonByCheckMate-warn-dark,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($WonByCheckMate-theme-light);

.dark-theme-mode {
  @include angular-material-theme($WonByCheckMate-theme-dark);
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }