<p>
  Try not to spam the requests as the server may rate limit you
</p>

<app-user-form (onSubmitForm)="fetchPlayerStats($event)"></app-user-form>


<p class="httpError" *ngIf="httpError">
  Some http request failed (probably rate limited)
</p>

<!-- TODO: Refactor to another component -->
<ng-container *ngIf="doneParsing && stats!=null">
  <ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
      <a class="nav-link active"
        [class.disabled]="displayTables"
        [class.active]="displayTables"
        (click)="toggleCharts()"
      >Tables</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"
        [class.disabled]="!displayTables"
        [class.active]="!displayTables"
        (click)="toggleCharts()"
      >Graphs</a>
    </li>
  </ul>
  
  <app-tables *ngIf="displayTables" [data]="stats"></app-tables>
  <app-pie-charts *ngIf="!displayTables" [data]="stats"></app-pie-charts>
</ng-container>