<p>
  Try not to spam the requests as the server may rate limit you
</p>



<p class="httpError" *ngIf="httpError">
  Some http request failed (probably rate limited)
</p>

<app-user-form (onSubmitForm)="fetchPlayerStats($event)"></app-user-form>


<!-- The #statsGraphs template reference is here so that when the app-stats-graphs component is rendered, the browser will scroll smoothly to here -->
<section #statsGraphs>
  <ng-container *ngIf="doneParsing && stats!=null">
    <app-stats-graphs [stats]="stats" (rendered)="scrollToView()"></app-stats-graphs>
  </ng-container>
</section>
