<table mat-table>
    <thead>
        <tr mat-header-row>
            <!-- Empty cell -->
            <th mat-header-cell scope="col">
                {{title}}
            </th>
            <th mat-header-cell scope="col" *ngFor="let col of cols">
                {{col}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr mat-row *ngFor="let row of rows">
            <th mat-header-cell scope="row" >{{configService.convertTimeControl(row)}}</th>
            <td mat-cell *ngFor="let col of cols">
                {{data[row][col]}}
            </td>
        </tr>    
    </tbody>
</table>
