<ng-container>

    <section class="example-section">
        <span class="example-list-section">
            <mat-checkbox class="example-margin" [checked]="allComplete" [color]="checkbox?.color"
                [indeterminate]="someComplete()" (change)="setAll($event.checked)">
                {{checkbox?.name}}
            </mat-checkbox>
        </span>
        <span class="example-list-section">
            <ul>
                <li *ngFor="let subCheckbox of checkbox?.subCheckboxes">
                    <mat-checkbox [(ngModel)]="subCheckbox.completed" [color]="subCheckbox.color"
                        (ngModelChange)="updateAllComplete()">
                        {{subCheckbox.name}}
                    </mat-checkbox>
            </ul>
        </span>
    </section>

</ng-container>