<form #playerForm="ngForm" class="d-flex" (ngSubmit)="formSubmitted(playerForm.value)" autocomplete="off">
    <!-- mr-2 is right justified -->
    <input
        name="username"
        [(ngModel)]="username" 
        class="form-control mr-2"
        type="search" 
        placeholder="Username">
    <button class="btn btn-success" type="submit">Check</button>
</form>


<app-checkbox [checkboxName]="'bullet'" [subCheckboxNames]="checkboxNames['bullet']"></app-checkbox>
<app-checkbox [checkboxName]="'blitz'" [subCheckboxNames]="checkboxNames['blitz']"></app-checkbox>
<app-checkbox [checkboxName]="'rapid'" [subCheckboxNames]="checkboxNames['rapid']"></app-checkbox>
<app-checkbox [checkboxName]="'daily'" [subCheckboxNames]="checkboxNames['daily']"></app-checkbox>