app-checkbox {
    float: left;
}

input {
    float: left;
    width: 40%;
    font-size: x-large;
    margin-right: 10px;
}

button {
    margin-left: 10px;
    // width: 30%;
    // display: flex;
}

span {
    margin: 5px;
    font-size: x-large;
}

.checkboxes {
    display: inline-block;
}
