<p class="formError">
    {{formError}}
</p>

<form #playerForm="ngForm"  (ngSubmit)="formSubmitted(playerForm.value.username)" autocomplete="off">
    <!-- mr-2 is right justified -->
    <input
        name="username"
        [(ngModel)]="username" 
        class="form-control mr-2"
        type="search" 
        placeholder="Username">
    <button class="btn btn-success" type="submit">
        <span>♚</span>
        Check stats
        <span>♚</span>
    </button>
</form>

<div class="checkboxes">
    <app-checkbox [checkboxName]="'bullet'" [subCheckboxNames]="checkboxNames['bullet']"></app-checkbox>
    <app-checkbox [checkboxName]="'blitz'" [subCheckboxNames]="checkboxNames['blitz']"></app-checkbox>
    <app-checkbox [checkboxName]="'rapid'" [subCheckboxNames]="checkboxNames['rapid']"></app-checkbox>
    <app-checkbox [checkboxName]="'daily'" [subCheckboxNames]="checkboxNames['daily']"></app-checkbox>
</div>