app-checkbox {
    float: left;
}

input {
    // float: left;
    width: 40%;
    font-size: large;
    margin-right: 10px;
}

button {
    margin-left: 10px;
}

form {
    display: flex;
    margin-left: 10px;
}

span {
    margin: 5px;
    font-size: large;
}

.checkboxes {
    display: inline-block;
}

.formError {
    margin-top: 20px;
    margin-left: 10px;
}