<p>
  Try not to spam the requests as the server may rate limit you and you may get inaccurate results (only some games will
  be parsed if any)
</p>

<app-user-form (onSubmitForm)="fetchPlayerStats($event)"></app-user-form>


<p class="httpError" *ngIf="httpError">
  Some http request failed (probably rate limited)
</p>

<ul class="nav nav-tabs justify-content-end">
  <li class="nav-item">
    <a class="nav-link active"
      [class.disabled]="displayTables"
      [class.active]="displayTables"
      (click)="toggleCharts()"
    >Tables</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
      [class.disabled]="!displayTables"
      [class.active]="!displayTables"
      (click)="toggleCharts()"
    >Graphs</a>
  </li>
</ul>



<!-- TODO: Refactor to another component -->
<ng-container *ngIf="doneParsing && stats!=null">
  <!-- TODO: show whichever one depending on which nav item is clicked -->
  <app-tables *ngIf="displayTables" [data]="stats.stats"></app-tables>
  <app-pie-charts *ngIf="!displayTables" [data]="stats.stats"></app-pie-charts>
</ng-container>


<!-- TODO: Remove or refactor -->
<!-- <p *ngIf="doneParsing && stats!=null">
  <br>
    <app-game-configuration [name]=key [results]="stats.stats[key]" *ngFor="let key of configurations"></app-game-configuration>
</p>
 -->