<!-- Could probably reduce duplicated code -->

<app-checkbox [checkboxName]="'bullet'" [subCheckboxNames]="checkboxNames['bullet']" (checkboxesSelected)="updateSelectedCheckboxes($event)"></app-checkbox>
<app-checkbox [checkboxName]="'blitz'" [subCheckboxNames]="checkboxNames['blitz']" (checkboxesSelected)="updateSelectedCheckboxes($event)"></app-checkbox>
<app-checkbox [checkboxName]="'rapid'" [subCheckboxNames]="checkboxNames['rapid']" (checkboxesSelected)="updateSelectedCheckboxes($event)"></app-checkbox>
<app-checkbox [checkboxName]="'daily'" [subCheckboxNames]="checkboxNames['daily']" (checkboxesSelected)="updateSelectedCheckboxes($event)"></app-checkbox>