.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 99; // make sure navbar is above all other elements. material tabs clip through otherwise
}

.spacer {
    flex: 1 1 auto;
}

.icon {
    height: 50px;
    width: 50px;
}

.hidden {
    display: none;
}

a.mat-button:hover {
    background-color: white;
}

// Right justify the toggle in the hamburger menu
.mobileThemeToggle {
    margin: 0 0 0 auto;
}