<!-- mat-app-background ensures theming is applies to all elements even if they are
    contained in this component directly (content in an ng-content)  -->
<mat-sidenav-container class="sidenav-container mat-app-background" [ngClass]="{'dark-theme-mode': isDarkTheme}">
  <!-- Opened hamburger menu -->
  <mat-sidenav #drawer
    fixedInViewport 
    [mode]="'over'">

    <mat-toolbar class="sidenav" color="primary">Menu
      <mat-slide-toggle class="mobileThemeToggle" [ngSwitch]="isDarkTheme" [(ngModel)]="isDarkTheme" labelPosition="before" (change)="storeThemeSelection()">
        <mat-icon *ngSwitchCase="true">bedtime</mat-icon>
        <mat-icon *ngSwitchDefault="true">light_mode</mat-icon>
      </mat-slide-toggle>
    </mat-toolbar>
    
    <mat-nav-list (click)="drawer.toggle()">
      <a mat-list-item routerLink="results" routerLinkActive="active-list-item">Results</a>
      <a mat-list-item routerLink="openings" routerLinkActive="active-list-item">Openings</a>
      <a mat-list-item>Something</a>
      <a mat-list-item>Something</a>
      <a mat-list-item>Something</a>
    </mat-nav-list>
  </mat-sidenav>
    <!-- Hamburger button to open menu -->
    <mat-toolbar color="primary" class="mat-elevation-z8">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle(); menuOpened='true'"
        *ngIf="smallScreen$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    <span>
        <span class="icon">
            <mat-icon [inline]="true" svgIcon="checkmate-light"></mat-icon>
        </span>
        <span *ngIf="!(smallScreen$ | async)">WonByCheckmate</span>
    </span>
    

    <!-- Top navbar for non mobile -->
    <mat-toolbar *ngIf="!(smallScreen$ | async)" color="primary">
      <div class="spacer"></div>
      <a mat-button routerLink="results">Results</a>
      <a mat-button routerLink="openings">Openings</a>
      <a mat-button>Something</a>
      <a mat-button>Something</a>
      <a mat-button>Something</a>
    </mat-toolbar>

    <span class="material-icons-round">
      <!-- Clicking the toggle will bind the isDarkTheme value to true or false if it's toggled or not thanks to ngModel -->
      <mat-slide-toggle *ngIf="!(smallScreen$ | async)" [ngSwitch]="isDarkTheme" [(ngModel)]="isDarkTheme" labelPosition="before" (change)="storeThemeSelection()">
        <mat-icon *ngSwitchCase="true">bedtime</mat-icon>
        <mat-icon *ngSwitchDefault="true">light_mode</mat-icon>
      </mat-slide-toggle>
    </span>
  </mat-toolbar>
  <!-- Add Content Here -->
  <ng-content></ng-content>
</mat-sidenav-container>